[submodule "diagram/sprotty"]
	path = diagram/sprotty
	url = https://github.com/theia-ide/sprotty
[submodule "diagram/yang-sprotty"]
	path = diagram/yang-sprotty
	url = https://github.com/yang-tools/yang-sprotty
