[submodule "diagram/sprotty"]
	path = diagram/sprotty
	url = git@github.com:theia-ide/sprotty
[submodule "diagram/yang-sprotty"]
	path = diagram/yang-sprotty
	url = git@github.com:yang-tools/yang-sprotty
