<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="yang"
            id="io.typefox.yang"
            name="YANG"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="io.typefox.yang.eclipse.YangLanguageServer"
            clientImpl="io.typefox.yang.eclipse.diagram.DiagramAwareLanguageClientImpl"
            id="io.typefox.yang.eclipse.server"
            label="YANG Language Server"
            serverInterface="io.typefox.yang.eclipse.diagram.DiagramAwareLanguageServer">
      </server>
      <contentTypeMapping
            contentType="io.typefox.yang"
            id="io.typefox.yang.eclipse.server">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="io.typefox.yang">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="io.typefox.yang"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editor
            class="org.eclipse.ui.internal.genericeditor.ExtensionBasedTextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            icon="icons/yin_yang.png"
            id="io.typefox.YangEditor"
            name="Yang Editor">
            <contentTypeBinding contentTypeId="io.typefox.yang"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="syntax/yang.tmLanguage.json"
            scopeName="source.yang">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="io.typefox.yang"
            scopeName="source.yang">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="YANG Editor Commands"
            id="io.typefox.yang"
            name="YANG">
      </category>
   </extension>

</plugin>
