<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="io.typefox.yang"
            name="YANG">
      </category>
      <view
            allowMultiple="true"
            category="io.typefox.yang"
            class="io.typefox.yang.eclipse.diagram.YangDiagramView"
            icon="icons/diagram.png"
            id="io.typefox.yang.eclipse.diagram"
            name="YANG Diagram"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="io.typefox.yang"
            defaultHandler="io.typefox.yang.eclipse.diagram.OpenDiagramHandler"
            description="Open a YANG Diagram Viewer"
            id="io.typefox.yang.eclipse.diagram.open"
            name="Open Diagram">
      </command>
      <command
            categoryId="io.typefox.yang"
            defaultHandler="io.typefox.yang.eclipse.diagram.ExportDiagramHandler"
            description="Export this diargam to SVG"
            id="io.typefox.yang.eclipse.diagram.export"
            name="Export Diagram">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="io.typefox.yang.eclipse.diagram.open"
               icon="icons/diagram.png"
               label="Open Diagram"
               style="push"
               tooltip="Open a YANG Diagram Viewer">
            <visibleWhen
                  checkEnabled="false">
             <and>
                <count
                      value="1">
                </count>
                <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="yang">
                     </test>
                  </adapt>
                </iterate>
             </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar id="io.typefox.yang.eclipse.toolbar">
		         <command
		               commandId="io.typefox.yang.eclipse.diagram.open"
		               icon="icons/diagram.png"
		               label="Open in Diagram"
		               style="push"
		               tooltip="Open in a YANG Diagram Viewer">
			         <visibleWhen
			               checkEnabled="false">
		                <count value="1">
		                </count>
		                <iterate>
		                  <adapt
		                        type="org.eclipse.core.resources.IFile">
		                     <test
		                           property="org.eclipse.core.resources.extension"
		                           value="yang">
		                     </test>
		                  </adapt>
		                </iterate>
			         </visibleWhen>
		         </command>
	         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:io.typefox.yang.eclipse.diagram">
         <command
               commandId="io.typefox.yang.eclipse.diagram.export"
               icon="icons/export.gif"
               label="Export Diagram"
               style="push">
         </command>
       </menuContribution>
   </extension>
</plugin>
